.circle {
    width: 100px;
    height: 100px;
    background: #296692;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin: 0 auto;
}
.titlerec {
    background: #296692;
    color:white;
    padding: 10px;
}

.iconimg {
    width: 100px;
}
