.circle {
    width: 100px;
    height: 100px;
    background: #296692;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin: 0 auto;
}

#titlerec, #titlerec_mobile {
    background: #296692;
    color: white;
    padding: 10px;
}

.iconimg {
    max-width: 100px;
    height: auto;
}

.resizeableimg {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

#vorteile_header {
    background: white;
}

.showhidetitle {
    background: #296692;
    color: white;
    padding: 10px;
}

.showhide {
    display: none;
}

.vorteile {
    margin-left: 10px;
    width: 95%;
}

.icon {
    float: right;
    margin-top: -65px;
    margin-right: 2px;
    max-width: 50px;
}

@media only screen and (max-width: 992px) {
    #vorteile_icons {
        display: none;
    }
    #vorteile_header {
        top: auto !important;
    }
    .showhide {
        display: block;
    }
}