/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav {
  color: white !important;
}
.nav-wrapper{
  position:absolute !important;
}

.logo{
  font-weight: bold !important;
  font-size: 30px !important;
  background: #296692 !important;
}

nav a,
nav a:visited {
  background: #296692;
  color: white;
}
nav a:not(.selected):hover {
  background: #245070;
  color: white;
}

#backgroundnav{
  background: #296692;
}

.sidenav-overlay {
  background-color: white !important;
}

p {
  line-height: 2rem;
}

.sidenav {
  background-color: #296692 !important;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
