/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/*----------------CSS für Footer------------------*/

.fontSizeStandartTitle{
  font-size: 2rem;
}
.titleBox{ /*(Titelboxen)*/
  padding: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.cardBox{
  padding: 0.5rem;
}
.kontaktBox{
  padding: 2rem;
}
.contactSpace{
  padding: 2px;
}
.size-100{
  height: 100px !important;
}
.footerItem{
  margin-bottom: 24px;
}
h1{
  font-size: 3rem;
}
h6{
    font-weight: bold;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/*--------------------Grössenanpassungen-----------------------*/

/*SMALL (mobile)*/
@media only screen and (max-width : 600px) {
  .fontSizeStandartTitle{
    font-size: 1.5rem;
  }
  h1{
    font-size: 2rem;
  }
  .visible_m_l_xl{
    display: none;
  }
}

/*GRÖSSER ALS SMALL*/
@media only screen and (min-width : 601px) {
  .visible_s{
    display: none;
  }
}

/*--------------------------------------------------------------*/

/*--------------------------Farben--------------------------*/
.blue1{
  background-color: #296692;
}
.blue1-text{
  color: #296692;
}
.blue1.dark{
  background-color: #23577d !important;
}
.blue1-text.text-dark{
  color: #23577d !important;
}
.blue1-text.text-light{
  color: #e1ebf2 !important;
}
.blue1.light{
  background-color: #e1ebf2 !important;
}
.blue1-text.text-light2{
  color: #edf5fa !important;
}
.blue1.light2{
  background-color: #edf5fa !important;
}

/*-----------------------------------------------------------*/

/*-----------------CSS von material-icons---------------*/
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-56 { font-size: 56px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }


/*-------------------------------------------------------*/

/*----------------CSS für index-beispiel------------------*/



/*-------------------------------------------------------*/

/*----------------CSS Navigation------------------*/

nav ul a,
nav {
  color: white !important;
}
nav a.selected {
  background: #245070;
}
.logo{
  font-weight: bold !important;
  font-size: 30px !important;
  background: #296692 !important;
}
.brand-logo {
  font-weight: bold !important;
  font-size: 30px !important;
  background: #296692 !important;
  color: #296692 !important;
}

nav a:not(.selected):hover {
  background: #245070;
  color: white;
}
#backgroundnav, #backgroundmenu{
  background: #296692;
}
.sidenav-overlay {
  background-color: white !important;
}
p {
  line-height: 2rem;
}
.sidenav {
  background-color: #296692 !important;
}
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}

/*--------------------Grössenanpassungen-----------------------*/

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
  .brand-logo {
    color: white !important;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

/*-------------------------------------------------------*/

/*----------------CSS für Aktuelles------------------*/
.blogimageindex {
  width:100%;
  max-width: 600px;
  height: auto;
}
.blogtitleindex {
  margin-left: 10px;
  padding: 10px;
}
.weiterlesenindex {
  margin-left: 10px;
  padding: 10px;
  text-decoration: underline !important;
}
.aktuellesindex  .row .col {
  padding-bottom: 20px !important;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  background: #F0F9FF;
  /* Copied from materialize.css .z-depth-1*/
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}
.blogimage {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin-left: -10px;
}
.weiterlesen {
  text-decoration: underline !important;
}
.blogtitle {
  margin-top: -10px;
}

/*--------------------Grössenanpassungen-----------------------*/

@media only screen and (min-width : 600px)and (max-width: 992px){
  .aktuellesindex  .row .col.m4 {
    margin-right: 16px;
    width: 30% !important;
  }
}

@media only screen and (min-width : 992px) {
  .aktuellesindex  .row .col.l4 {
    margin-right: 22px;
    width: 30% !important;
  }
}

@media only screen and (max-width : 600px) {
  .blogimage {
    margin-left: 0;
  }
  .blogtitle, .weiterlesen {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 0;
  }
  .postbackground {
    background: #F0F9FF;
    padding-bottom: 20px;
    /* Copied from materialize.css .z-depth-1*/
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }
  #aktuelles .row .col {
    padding: 0 !important;
  }
}

/*-------------------------------------------------------*/

/*----------------CSS für Vorteile------------------*/
.circle {
  width: 100px;
  height: 100px;
  background: #296692;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  margin: 0 auto;
}
.iconimg {
  max-width: 100px;
  height: auto;
}
.resizeableimg {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}
#vorteile_header {
  background: white;
}
.showhidetitle {
  background: #296692;
  color: white;
  padding: 13px;
  font-size: 27px;
}
.showhide {
  display: none;
}
.showhide  .material-icons {
  float: right;
  margin-top: -65px;
  margin-right: 4px;
  font-size: 50px !important;
  color : white;
}

/*--------------------Grössenanpassungen-----------------------*/

@media only screen and (max-width : 600px) {
  #vorteile_container  .row .col {
    padding: 0 !important;
  }
}

@media only screen and (max-width: 992px) {
  #vorteile_icons {
    display: none;
  }
  #vorteile_header {
    top: auto !important;
  }
  .showhide {
    display: block;
  }
}

/*-------------------------------------------------------*/

/*----------------CSS für Anwendungsgebiete------------------*/

.anwendungimage {
    max-width: 600px;
    width: 100%;
    height: auto;
    margin-left: -16px;
}
.anwendungbeschreibung, .anwendung1 {
    margin-left: -10px;
    margin-top: -4px;
}
