<!--Alleinstellungsmerkmale-->
<div id="alleinstellungsmerkmalediv"
     class="container blue1 blue1-text text-light2 titleBox fontSizeStandartTitle center-align">
    <span>Alleinstellungsmerkmale</span>
</div>
<div class="section">
    <div class="container">
        <h6 id="alleinstellungsmerkmaletitle">Lorem ipsum</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
            et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
            et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.</p>
    </div>
</div>