<!--Anwendungsgebiete-->
<div id="anwendungsgebietediv"
     class="container blue1 blue1-text text-light2 titleBox fontSizeStandartTitle center-align">
    <span>Anwendungsgebiete</span>
</div>

<div class="anwendungsgebiete">
    <div class="container">
        <div class="section">

            <!--Anwendungsgebiet 1-->
            <div class="row">
                <div class="col s12 m4 l4">
                    <img class="anwendungimage" src="img/anwendung_images/Train2.png">
                </div>
                <div class="col s12 m8 l8">
                    <h6 class="anwendung1">Schienenfahrzeuge</h6>
                    <p class="anwendungbeschreibung">
                        Der AXK800T wurde speziell für den Einbau in S-, U-Bahnen und Lokomotiven konzipiert;
                        niedrige Bauhöhe, geringes Gewicht und kleine Reaktionskräfte an den Auflagerpunkten.
                        Für den Einbau Unterflur, auf dem Dach oder im Fahrzeuginneren genügt ein einfacher Tragrahmen bzw. Konsole. Durch die hohe Laufruhe und die geringe Druckluft- Ausschubpulsation ist der AXK800T auch ein idealer Ersatzkompressor bei Modernisierungen.
                    </p>
                </div>
            </div>


            <!--Anwendungsgebiet 2-->
            <div class="row">
                <div class="col s12 m4 l4">
                    <img class="anwendungimage" src="img/anwendung_images/trucks.jpg">
                </div>
                <div class="col s12 m8 l8">
                    <h6 class="anwendung1">Elektro-, Hybrid-, Dieselbusse & Lastkraftwagen</h6>
                    <p class="anwendungbeschreibung">
                        In diesem Anwendungsfester werden die Kompressoren üblicherweise direkt vom Antriebsmotor des Fahrzeuges
                        angetrieben was einen vermeidbaren Energieverbrauch generiert. Der AXK800T kann elektrisch oder hydraulisch
                        betrieben im Motorraum integriert werden. Die ölfreie Verdichtung von Luft erfordert keine Mindestlaufzeit
                        des Kompressors zur Vermeidung von Kondensatausfall im Ölsumpf. Der Kompressor läuft nur dann, wenn Druckluft benötigt wird.
                    </p>
                </div>
            </div>

            <!--Anwendungsgebiet 3-->

            <div class="row">
                <div class="col s12 m4 l4">
                    <img class="anwendungimage" src="img/anwendung_images/gas.jpg">
                </div>
                <div class="col s12 m8 l8">
                    <h6 class="anwendung1">Gasverdichter</h6>
                    <p class="anwendungbeschreibung">
                        Der Kompressor sowie die gesamte Lagerung ist konstruktionsbedingt hermetisch dicht ausgeführt.
                        Gasberührende Teile sind nicht aus Buntmetall oder ferritischen Werkstoffen.
                        Die verdichteten Gase werden nicht durch Betriebsstoffe des Kompressors kontaminiert.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>