<!--Footer-->
<footer class="page-footer blue1 blue1-text text-light2">
    <div class="fontSizeStandartTitle center-align footerItem">
        <span>Get In Touch</span>
    </div>
    <div class="valign-wrapper">
        <div class="row container">

            <!--Spalte 1-->
            <div class="col l3 m4 s12 footerItem center-align">
                <div class="footerItem">
                    <i class="material-icons">room</i>
                    <div class="center-align contactSpace">
                        <span>pulsmin GmbH<br>Hans Luette<br>Seelhofstraße 24<br>D- 79539 Lörrach</span>
                    </div>
                </div>
            </div>

            <!--Spalte 2-->
            <div class="col l3 m4 s12 footerItem center-align">
                <!--Phone-->
                <div class="footerItem">
                    <i class="material-icons">phone</i>
                    <div class="center-align contactSpace">
                        + 49 (0) 7621 169976
                    </div>
                </div>
            </div>

            <!--Spalte 3-->
            <div class="col l3 m4 s12 footerItem center-align">
                <!--Email-->
                <div class="footerItem">
                    <i class="material-icons">mail</i>
                    <div class="center-align contactSpace">
                        info@pulsmin.com
                    </div>
                </div>
            </div>

            <!--Spalte 4-->
            <div class="col l3 m12 s12 center-align">
                <img src="img/footer_images/Hans_Luette.jpg" alt="Hans Lütte"
                     class="circle responsive-img size-100 z-depth-5">
            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container center-align">
            Made by <span
                class="brown-text text-lighten-4"> Lagger Dominique, Tsypkaykina Anastasia & Reinger Lousia</span>
        </div>
    </div>
</footer>