<!--Header-->
<nav id="backgroundnav" role="navigation">
    <a id="logo-container" href="#" class="brand-logo">pulsmin</a>
    <div class="nav-wrapper">

        <ul class="hide-on-med-and-down navmid">
            <li><a class="logo" href="#">pulsmin</a></li>
            <li><a href="#anwendungsgebietediv">Anwendungsgebiete</a></li>
            <li><a href="#alleinstellungsmerkmalediv">Alleinstellungsmerkmale</a></li>
            <li><a href="#vorteile_container">Vorteile</a></li>
            <li><a href="#technischeangabendiv">Technische Angaben</a></li>
            <li><a href="aktuelles.html">Aktuelles</a></li>
            <li><a href="#kontaktdiv">Kontakt</a></li>
        </ul>

        <ul id="nav-mobile" class="sidenav">
            <li><a class="logo" href="#" onclick="location.reload()">pulsmin</a></li>
            <li><a href="#anwendungsgebietediv" onclick="location.reload()">Anwendungsgebiete</a></li>
            <li><a href="#alleinstellungsmerkmalediv" onclick="location.reload()">Alleinstellungsmerkmale</a></li>
            <li><a href="#vorteile_container" onclick="location.reload()">Vorteile</a></li>
            <li><a href="#technischeangabendiv" onclick="location.reload()">Technische Angaben</a></li>
            <li><a href="aktuelles.html" onclick="location.reload()">Aktuelles</a></li>
            <li><a href="#kontaktdiv" onclick="location.reload()">Kontakt</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons"
                                                                        id="backgroundmenu">menu</i></a>
    </div>
</nav>