<!--Technische Angaben-->
<div id="technischeangabendiv"
     class="container blue1 blue1-text text-light2 titleBox fontSizeStandartTitle center-align">
    <span>Technische Angaben</span>
</div>


<!--Carousel-->
<div class="container">
    <div class="section">
        <div class="row">
            <div class="carousel" id="images_carousel" data-indicators="true">
                <a class="carousel-item" href="#one!"><img src="img/technisch_images/Explosionsdarstellung.PNG"></a>
                <a class="carousel-item" href="#two!"><img src="img/technisch_images/Kompressor.PNG"></a>
                <a class="carousel-item" href="#three!"><img src="img/technisch_images/Kompressor_Seite.PNG"></a>
                <a class="carousel-item" href="#four!"><img src="img/technisch_images/Kompressor_Stufe.PNG"></a>
                <a class="carousel-item" href="#five!"><img src="img/technisch_images/Kompressor_Unterseite.PNG"></a>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#images_carousel').carousel();
    });
</script>
<!--Tabelle mit techn Angaben-->
<div id="technische_angaben">
    <div class="section">
        <div class="row">
            <div class="container blue2 blue1-text text-light2 vorteileBox fontSizeStandartTitle left-align">Allgemeine
                Daten
            </div>
            <div class="container">
                <div class="col s6 m6 l6 ueberschrift1">
                    <h6> Bauart </h6>
                    <h6> Typ und Grösse </h6>
                </div>
                <div class="col s6 m6 l6 ueberschrift1">
                    <h6> Axial-Shrägscheiben-Kompressor </h6>
                    <h6> AXK 800-T </h6>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container blue2 blue1-text text-light2 vorteileBox fontSizeStandartTitle left-align">
                Eigenschaften
            </div>
            <div class="container">
                <div class="col s6 m6 l6 ueberschrift2">
                    <h6> Vibration und Körperschall </h6>
                    <h6> Pulsation der Druckluft </h6>
                    <h6> Geräuschentwicklung </h6>
                </div>
                <div class="col s6 m6 l6 ueberschrift2">
                    <h6> Niedrig / gut </h6>
                    <h6> Niedrig / gut </h6>
                    <h6> Niedrig / gut </h6>
                </div>
            </div>
        </div>
    </div>
</div>