<!--Technische Angaben-->
<div id="technischeangabendiv"
     class="container blue1 blue1-text text-light2 titleBox fontSizeStandartTitle center-align">
    <span>Technische Angaben</span>
</div>


<!--Carousel-->
<div class="container">
    <div class="section">
        <div class="row">
            <div class="carousel" id="images_carousel" data-indicators="true">
                <a class="carousel-item" href="#one!"><img src="img/technisch_images/Explosionsdarstellung.PNG"></a>
                <a class="carousel-item" href="#two!"><img src="img/technisch_images/Kompressor.PNG"></a>
                <a class="carousel-item" href="#three!"><img src="img/technisch_images/Kompressor_Seite.PNG"></a>
                <a class="carousel-item" href="#four!"><img src="img/technisch_images/Kompressor_Stufe.PNG"></a>
                <a class="carousel-item" href="#five!"><img src="img/technisch_images/Kompressor_Unterseite.PNG"></a>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#images_carousel').carousel();
    });
</script>
<!--Tabelle mit techn Angaben-->
<div id="technische_angaben">
    <div class="section">
        <div class="row">
            <div class="container">
                <table style="width:100%">
                    <tr>
                        <th colspan="2" class="blue2 blue1-text text-light2 vorteileBox fontSizeStandartTitle left-align">
                            Kompressor
                        </th>
                    </tr>
                    <tr>
                        <td>
                            Gewicht Kompressor
                        </td>
                        <td>
                            42 kg
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Gesamtgewicht mit Motor
                        </td>
                        <td>
                            91 kg
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Ansaugvolumenstrom bei 10 barg
                        </td>
                        <td>
                            850 Liter / min
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Betriebsüberdruck max.
                        </td>
                        <td>
                            11 barg
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Drehzahl
                        </td>
                        <td>
                            1465 l/min
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Betriebsart
                        </td>
                        <td>
                            Start/ Stop max. 40 / Stunde
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Dauerbetrieb
                        </td>
                        <td>
                            100%
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Rel. Luftfeuchte
                        </td>
                        <td>
                            100%
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Umgebungstemperaturen min/ max
                        </td>
                        <td>
                            -50 °C / +50 °C
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Höhenlage
                        </td>
                        <td>
                            0 bis 1000 m
                        </td>
                    </tr>
                </table>

<!--                Tabelle 2-->
                <table style="width:100%">
                    <tr>
                        <th colspan="2" class="blue2 blue1-text text-light2 vorteileBox fontSizeStandartTitle">
                            Elektromotor
                        </th>
                    </tr>
                    <tr>
                        <td>
                            E-Motor Baugrösse
                        </td>
                        <td>
                            132 M
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Nennleistung
                        </td>
                        <td>
                            7.5 kW
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Nennstrom
                        </td>
                        <td>
                            14,7 A
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Einschaltstrom bei direkter Einschaltung
                        </td>
                        <td>
                            44 A
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Spannung / Frequenz
                        </td>
                        <td>
                            3x400 VAC / 50 Hz
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Einschaltung
                        </td>
                        <td>
                            direkt
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>