<!--Vorteile-->
<div id="vorteile_container">
    <div id="vorteile_header">

        <div class="container blue1 blue1-text text-light2 titleBox fontSizeStandartTitle center-align">
            <span id="titlerec">Vorteile</span>
        </div>

        <div id="vorteile_icons">
            <div class="container">
                <div class="vorteileSection">
                    <div class="row">
                        <div class="col s2">
                            <div class="circle" id="umweltschutz_icon" onclick="jumptoadvantage('vorteile_container')">
                                <img src="img/vorteile_images/icon_umweltschutz.png" class="iconimg">
                            </div>
                        </div>
                        <div class="col s2">
                            <div class="circle" id="vorteile_icon2" onclick="jumptoadvantage('vorteil2')"><img
                                    src="img/vorteile_images/icon_vorteil2.png"
                                    class="iconimg">
                            </div>
                        </div>
                        <div class="col s2">
                            <div class="circle" id="vorteile_icon3" onclick="jumptoadvantage('vorteil3')"></div>
                        </div>
                        <div class="col s2">
                            <div class="circle" id="vorteile_icon4" onclick="jumptoadvantage('vorteil4')"></div>
                        </div>
                        <div class="col s2">
                            <div class="circle" id="vorteile_icon5" onclick="jumptoadvantage('vorteil5')"></div>
                        </div>
                        <div class="col s2">
                            <div class="circle" id="vorteile_icon6" onclick="jumptoadvantage('vorteil6')"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="vorteile_text">
        <div class="container">

            <!--            Vorteil 1-->
            <div class="blue2 blue1-text text-light2 vorteileBox fontSizeStandartTitle left-align showhide"
                 onclick='showfunction("umweltschutz", "plus_icon1", "minus_icon1")'> Umweltschutz
                <i class="material-icons" id="plus_icon1">add</i>
                <i class="material-icons" id="minus_icon1">remove</i>
            </div>
            <div id="umweltschutz" class="vorteile">
                <div class="row">
                    <h4>Umweltschonend</h4>
                    <div class="col s12 l3">
                        <img class="resizeableimg" src="img/vorteile_images/umweltschutz_berge.png">
                    </div>
                    <div class="col s12 l3">
                        <img class="resizeableimg" src="img/vorteile_images/umweltschutz_baum.png">
                    </div>
                    <div class="col s12 l6">
                        <p>
                            Weltweit wird zur Schmierung und Kühlung von ölgeschmierten Kompressoren ein erheblicher Teil an Öl verbraucht.
                            Ölkontaminiertes Kondensat aus der Druckluft wird oft noch auf das Dach oder in das Schienenbett geleitet und
                            gelangt so in die Umwelt.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 l3">
                        <img class="resizeableimg" src="img/vorteile_images/umweltschutz_erde.png">
                    </div>
                    <div class="col s12 l6">
                        <p>
                            Der AXK800T braucht kein Schmieröl.
                            Lediglich die Lager besitzen eine kleine Dauerfettfüllung.
                            Der Kompressor ist hermetisch dicht, so dass er auch in besonders geschützten Landschaften
                            eingesetzt werden kann. Ökologisch ein Gewinn; durch den Entfall des kompletten Ölmanagements
                            (Ölfüllung, Ölwechsel, Filterwechsel und Entsorgung) werden Ressourcen geschont.
                        </p>
                    </div>
                    <div class="col s12 l3">
                        <img class="resizeableimg" src="img/vorteile_images/umweltschutz_lampe.png">
                    </div>
                </div>
            </div>

            <!--            Vorteil 2-->
            <div class="blue2 blue1-text text-light2 vorteileBox fontSizeStandartTitle left-align showhide"
                 onclick='showfunction("vorteil2", "plus_icon2", "minus_icon2")'> Vorteil 2
                <i class="material-icons" id="plus_icon2">add</i>
                <i class="material-icons" id="minus_icon2">remove</i>
            </div>
            <div id="vorteil2" class="vorteile">
                <div class="row">
                    <h4>Energieeffizient</h4>
                    <p>
                        Der AXK800T verdichtet effizient in zwei Stufen.
                        Nach der Komprimierung in der Niederdruckstufe erfolgt eine intensive Zwischenkühlung der Luft.
                        Differenzdruck gesteuerte Ventile sorgen dafür dass im Arbeitsraum kein unnötiger Überdruck herrscht.
                        Die Antriebsenergie wird dadurch minimiert.
                        Reibungsarme Kolbenbeschichtungen senken die Wärmeentwicklung und steigern weiterhin den Wirkungsgrad.
                        Schrauben-, Vielzellen und Scrollkompressoren haben den Nachteil, dass die Druckluft über eine weggesteuerte Öffnung den
                        Arbeitsraum verlassen muss. Der Wirkungsgrad ist daher nur bei einem definierten Enddruck optimal. Unabhängig vom Netzdruck
                        wird im Arbeitsraum immer der eingebaute Druck erzeugt.
                        Öleingespritzten Kompressoren benötigen zudem ein Teil der Antriebsenergie zur Aufrechterhaltung des Ölkreislaufes.
                    </p>
                </div>
            </div>

            <!--            Vorteil 3-->
            <div class="blue2 blue1-text text-light2 vorteileBox fontSizeStandartTitle left-align showhide"
                 onclick='showfunction("vorteil3", "plus_icon3", "minus_icon3")'> Vorteil 3
                <i class="material-icons" id="plus_icon3">add</i>
                <i class="material-icons" id="minus_icon3">remove</i>
            </div>
            <div id="vorteil3" class="vorteile">
                <div class="row">
                    <h4>Betriebs- und Wartungskosten</h4>
                    <p>Ölfreie Drucklufterzeugung mit dem AXK800T heißt:</p>
                        <ul>
                            <li>
                                Keine Bevorratung und Entsorgung von Schmieröl, Ölfilter, Luftentölelementen
                            </li>
                            <li>
                                Keine Sammlung, Aufbereitung  und Entsorgung von Druckluftkondensat
                            </li>
                            <li>
                                Keine Reinigungskosten durch Ölkontamination des Bordnetzes bei Filterversagen
                            </li>
                            <li>
                                Keine Reinigungskosten infolge Ölleckagen
                            </li>
                            <li>
                                Keine Abfall des Drucktaupunktes durch veröltes Lufttrocknungsgranulat
                            </li>
                            <li>
                                Erhöhung der Wartungsintervalle des Lufttrocknungsgranulates
                            </li>
                            <li>
                                Erhöhung der Fahrzeugnutzlast durch den Entfall von Kondensat- und Pufferbehältern
                            </li>
                            <li>
                                Minimaler Aufwand für die Wartung
                            </li>
                        </ul>
                    </p>
                </div>
            </div>

            <!--            Vorteil 4-->
            <div class="blue2 blue1-text text-light2 vorteileBox fontSizeStandartTitle left-align showhide"
                 onclick='showfunction("vorteil4", "plus_icon4", "minus_icon4")'> Vorteil 4
                <i class="material-icons" id="plus_icon4">add</i>
                <i class="material-icons" id="minus_icon4">remove</i>
            </div>
            <div id="vorteil4" class="vorteile">
                <div class="row">
                    <h4>Integration in ein Fahrzeug 4</h4>
                    <p>
                        Die gewichtsoptimierte Kompressor-Motor-Einheit ist bis zum Druckluftanschluss am Druckluftnachkühler
                        ohne Schläuche komplett verrohrt. Nachgeschaltete Komponenten wie Granulat-Trockner können direkt am Ausgang
                        des Druckluftnachkühlers angeschlossen werden. Pulsationsdämpfer, Zwischenbehälter bzw. Filter zum Schutz
                        des Trockners sind nicht erforderlich. Lüfter und Kühler sind vor Steinschlag wirksam geschützt.
                        Zur Erhöhung der Nutzlast werden moderne Schienenfahrzeugen in Leichtbauweise gefertigt.
                        Diese Fahrzeugstrukturen erfordern leichte, luft- und körperschallarme Kompressoren.
                        Hohe Bauteilschwingungen können Schwingungsschäden und einen erhöhten Geräuscheintrag in den Wagenkasten führen.
                        Die Maximierung des Nutzraumes führt weiterhin zu immer kleiner Einbauräumen.
                        Ob Neufahrzeug oder Modernisierung, mit einem Ansaugvolumen von 850 Liter/min ist der AXK800T mit einer Einbauhöhe
                        von 305mm und einem Kompressorgewicht von 42kg speziell für diese Anwendungen konzipiert.
                    </p>
                </div>
            </div>

            <!--            Vorteil 5-->
            <div class="blue2 blue1-text text-light2 vorteileBox fontSizeStandartTitle left-align showhide"
                 onclick='showfunction("vorteil5", "plus_icon5", "minus_icon5")'> Vorteil 5
                <i class="material-icons" id="plus_icon5">add</i>
                <i class="material-icons" id="minus_icon5">remove</i>
            </div>
            <div id="vorteil5" class="vorteile">
                <div class="row">
                    <h4>Features</h4>
                    <p>
                        •	Ölfreie, trockene Verdichtung
                        •	Luftgekühlt
                        •	Spritzwasserfest
                        •	Niedrige Bauhöhe
                        •	Niedrige End- und Bauteiltemperaturen durch zweistufig Verdichtung mit intensiver Zwischenkühlung
                        •	Hohe Laufruhe durch runde Zylinderanordnung (keine Pleuel, keine Kurbelwelle)
                        •	Minimale Vibrationen durch eine ausgewogene Kinematik vom Massen- und Gaskräften
                        •	Kaltstart ohne Vorheizen; keine Mindestlaufzeiten
                        •	Dauerlauffest
                        •	Kein Bevorratung von Schmieröl und Ölfiltern
                        •	Keine Entsorgung von ölkontaminiertem Druckluftkondensat
                        •	Umweltfreundlich, Effizient und wirtschaftlich
                        •	Minimaler Wartungsaufwand

                    </p>
                </div>
            </div>

            <!--            Vorteil 6-->
            <div class="blue2 blue1-text text-light2 vorteileBox fontSizeStandartTitle left-align showhide"
                 onclick='showfunction("vorteil6", "plus_icon6", "minus_icon6")'> Vorteil 6
                <i class="material-icons" id="plus_icon6">add</i>
                <i class="material-icons" id="minus_icon6">remove</i>
            </div>
            <div id="vorteil6" class="vorteile">
                <div class="row">
                    <h4>Vergleich des AXK800T mit vorhandenen Kompressorbauarten</h4>
                    <p>
                    <div class="vollBild">
                        <img class="resizeableimg" src="img/vorteile_images/vergleich_tabelle.jpg">
                    </div>
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
<div id="vorteile_container_end"></div>